.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px
}

.personal {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
}

.test{
  width:225px
}


p{
  text-align: left;
}

/* @media only screen and (max-width:600px){
  .personal {
    display:block;
    padding-bottom:100px
  }
} */
